*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

#canvas1{
    border: 5px solid white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}
#player-img{
    display: none;
}
#enemy-ghost-img{
    display: none;
}
.animation-control{
    font-size: 1.5rem;
    color: white;
}