:root{
    --clr-black05: hsla(0, 0%, 0%, 0.5);
    --clr-black08: hsla(0, 0%, 0%, 0.8);
    --clr-black095: hsla(0, 0%, 0%, 0.95);
    --clr-blood-red: hsl(0, 84%, 17%);
    --clr-white: rgba(255, 255, 255);
    --clr-white05: rgba(255, 255, 255, 0.5);
    --clr-white08: rgba(255, 255, 255, 0.8);
    --clr-white09: rgba(255, 255, 255, 0.9);
    --clr-green: rgba(17, 107, 10, 0.74);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
}
button{
    margin: 20px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: 0.2rem solid var(--clr-white08);
}
.primary-btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--clr-white08);
    letter-spacing: 3px;
    z-index: 11;
}
/* CANVAS ELEMENTS */
#canvas-main{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4.5px solid var(--clr-white);
    max-width: 90%;
    max-height: 90%;
}
#player-img, #enemy-ghost-img, #forest-bkg{
    display: none;
}
.parallaximg{
    display: none;
}

/* MAIN MENU */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-blood-red);
    width: 350px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    border: 0.3rem solid var(--clr-white08);
}
.menu-hide{
    display: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}
.buttons button{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--clr-white08);
    letter-spacing: 3px;
}
.main-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: var(--clr-black095);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hide-main-container{
    display: none;
    z-index: -10;
}
.options-container, .controls-container{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-black095);
    display: none;

}
.show-options-container{
    display: flex;
}
.show-controls-container{
    display: flex;
}
.back-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    
    z-index: 11;
    display: none;
}
.back-btn-show{
    display: block;
}