body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#canvas-main{
    z-index: -1;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4.5px solid white;
    max-width: 90%;
    max-height: 90%;
}
#player-img, #enemy-ghost-img, #forest-bkg{
    display: none;
}
.parallaximg{
    display: none;
}
button{
    z-index: 0;
    margin: 10px;
    padding: 10px;
    width: 100px;
}