body{
    background-color: black;
}
#canvas-main{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4.5px solid white;
    max-width: 90%;
    max-height: 90%;
}
#player-img, #enemy-ghost-img, #forest-bkg{
    display: none;
}