:root {
  --clr-transperent: hsl(0, 0%, 0%);
  --clr-black: hsla(0, 0%, 0%);
  --clr-black05: hsla(0, 0%, 0%, 0.5);
  --clr-black08: hsla(0, 0%, 0%, 0.8);
  --clr-black095: hsla(0, 0%, 0%, 0.95);
  --clr-black098: hsla(0, 0%, 0%, 0.98);
  --clr-blood-red: hsl(0, 84%, 17%);
  --clr-button-shadow: hsl(0, 54%, 15%);
  --clr-white: rgba(255, 255, 255);
  --clr-white05: rgba(255, 255, 255, 0.5);
  --clr-white08: rgba(255, 255, 255, 0.8);
  --clr-primary-text: rgba(255, 255, 255, 0.8);
  --clr-white09: rgba(255, 255, 255, 0.9);
  --clr-green: rgba(17, 107, 10, 0.74);
  --clr-neon: rgb(255, 255, 255);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  /* background: url('./assets/menu-background/body-background.png') center/cover no-repeat; */
  width: 100vw;
  height: 100vh;
}
button {
  margin: 20px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 0.2rem solid var(--clr-white08);
}
button:hover {
  cursor: pointer;
  background-color: var(--clr-blood-red);
  box-shadow: 0px 5px 10px 2px var(--clr-button-shadow),
    0px -5px 10px 2px var(--clr-button-shadow),
    5px 0px 10px 2px var(--clr-button-shadow),
    -5px 0px 10px 2px var(--clr-button-shadow);
}
.primary-btn {
  margin: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-text);
  letter-spacing: 3px;
  z-index: 11;
}
/* PRELOADER */
.preloader {
  z-index: 999;
  background: var(--clr-black) url("./assets/preloader/preloader.png") center
    no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 2s;
}
.preloader-show {
  display: block !important;
}
@keyframes fadeIn5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.preloader-fadeIn {
  animation: fadeIn5 2s;
}
/* LETI BUDA LETI BUTTON */
#letibudaleti {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.letibudaleti-btn {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;

  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.1), 0 0 0.125em var(--clr-neon);
  box-shadow: 0 0 0.5em 0 var(--clr-neon), inset 0 0 0.5em 0 var(--clr-neon) !important;
  transition: background-color 100ms linear;
}
.letibudaleti-btn::before {
  pointer-events: none; /*so that shadow doesnt trigger hover events on the button..*/
  content: "";
  position: absolute;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(5em) rotateX(50deg) translateZ(-2em) scaleX(1.5);
  filter: blur(1.3em);
  opacity: 0.7;
}
.letibudaleti-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2em 0.2em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}
.letibudaleti-btn:hover,
.letibudaleti-btn:focus {
  background-color: var(--clr-neon);
  color: var(--clr-black);
  text-shadow: 0 0 0.2em black;
}
.letibudaleti-btn:hover::after,
.letibudaleti-btn:focus::after {
  opacity: 1;
}
.letibudaleti-btn:hover::before,
.letibudaleti-btn:focus::before {
  opacity: 1;
}
/* END OF LETIBUDALETI BUTTON */

/* CANVAS ELEMENTS */
#canvas-main {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--clr-blood-red);
  max-width: 90%;
  max-height: 90%;
}
#player-img,
#enemy-ghost-img,
#forest-bkg {
  display: none;
}
.parallaximg {
  display: none;
}
#enemy-boss-img {
  display: none;
}
/* MAIN MENU */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-transperent);
  width: 25%;
  min-width: 350px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  border: 0.3rem solid var(--clr-white08);
}
.menu-hide {
  display: none;
}
.menu-left,
.menu-right {
  width: 100%;
  height: 100%;
}
.menu-left {
  background: url("./assets/menu-background/menu-background-left.png")
    center/contain no-repeat;
}
.menu-right {
  background: url("./assets/menu-background/menu-backgorund-right.png")
    center/contain no-repeat;
}
@media screen and (max-width: 530px) {
  .menu {
    min-width: 290px;
  }
  .menu-left,
  .menu-right {
    display: none;
  }
}
.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  min-width: 350px;
  font-size: 1.2rem;
  color: var(--clr-black098);
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
}
.buttons button {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-text);
  letter-spacing: 3px;
}
.mute-btn-play {
  background-color: var(--clr-blood-red);
}
.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--clr-blood-red);
}
.hide-main-container {
  display: none;
  z-index: -10;
}
.options-container,
.controls-container {
  background-color: var(--clr-black098);
  position: absolute;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: none;
}
.show-options-container {
  display: flex;
}
.show-controls-container {
  display: flex;
}
.back-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;

  z-index: 11;
  display: none;
}
.back-btn-show {
  display: block;
}
.controls div,
.controls-desc div {
  min-width: 200px;
}
.controls-desc div {
  text-align: left;
}
.controls div {
  text-align: center;
}
.options {
  max-width: 600px;
}

/* SLIDER */
.slider-container {
  z-index: 100;
  width: 200px;
  height: 110px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* style */
  padding: 10px;
  background-color: transparent;
  color: var(--clr-white);
  font-size: 0.7rem;
  text-transform: uppercase;
  caret-color: transparent;
}
.slider-container-hide {
  display: none;
}
.slider-container h4 {
  text-align: center;
}
.slider-container label {
  padding: 4px;
  color: var(--clr-white);
}
.slider {
  cursor: pointer;
  outline: none;
  height: 5px;
  appearance: none;
  background-color: var(--clr-blood-red);
}
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 11px;
  width: 11px;
  background-color: var(--clr-white);
}
.slider::-webkit-slider-runnable-track {
  appearance: none;
}
